# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Lambda build artifacts
**/__pycache__/
**/*.pyc
terraform/build/
src/lambdas/*.zip

# Python virtualenvs
.venv/
venv/
env/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
terraform.tfvars


terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log
